/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap");
/* Location section styles */
.location h1 {
  font-family: "Raleway", sans-serif;
}

/* Location container for cards */
.location .area-container {
  background-color: #FFF;
  min-height: 50vh;
}

.location .area-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
  margin-top: 1em;
}

.location .area-container .info-location {
  text-align: start;
  margin-bottom: 2em;
}

.location .area-container .info-location > p {
  margin: 0;
}

.location .area-container h3,
.location .area-container h4 {
  color: #952422;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  text-align: start;
}

.location .area-container p.m-0 {
  font-family: "Source Sans Pro", sans-serif;
}

/* Emergency box styling (Before contact form) */
.emergency {
  border: 2px solid #952422;
}

.emergency h1 {
  font-family: "Raleway", sans-serif;
}

.emergency h3 {
  font-family: "IBM Plex Mono", monospace;
}

/* Contact form styling */
.contact h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
}

.contact h1 span {
  color: #952422;
}

.contact small {
  color: #952422;
}

/* SVG animations for exclamation mark and geotag markers. Geotag markers have alternate and alternate reverse to have diversity/variety */
.exclMark {
  -webkit-animation: updown 2s infinite;
          animation: updown 2s infinite;
}

#geotagwhite {
  -webkit-animation: geotags 2s infinite alternate;
          animation: geotags 2s infinite alternate;
}

#geotagblue {
  animation: geotags 3s infinite alternate-reverse;
}

/* Animations for exclamation mark svg */
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-15px) scale(1.01);
            transform: translateY(-15px) scale(1.01);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-15px) scale(1.01);
            transform: translateY(-15px) scale(1.01);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-15px) scale(1.01);
            transform: translateY(-15px) scale(1.01);
  }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  60% {
    -webkit-transform: translateY(-15px) scale(1.01);
            transform: translateY(-15px) scale(1.01);
  }
}

@-webkit-keyframes geotags {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes geotags {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}