$primaryColor: #952422;
$primaryFaded: #9e4948;
$white: #FFF;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap');
$specialFont: 'IBM Plex Mono', monospace;
$bodyFont: 'Raleway', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;