@import '../uc/var.scss';

/* Index page header and button styles */
.summary {
    .cursor {
        align-content: center;
        justify-content: center;
        padding-left: 0.1em;
        animation: cursorBlink 0.6s infinite;
        border-right: 2px solid;
    }
}

@keyframes cursorBlink {
    from {
        border-right-color: white;
    }

    to {
        border-right-color: transparent;
    }
}

.about {
    h1 {
        span {
            color: $primaryColor;
        }
    }
    svg {
        fill: $primaryColor;
        background-size: 3em 3em;
    }
    i {
        font-size: 3em;
        color: $primaryColor;
        vertical-align: middle;
    }
    .border-danger {
        border-color: $primaryColor !important;
    }
    .info-panel {
        > h5 {
            color: $primaryColor;
        }
        p {
            color: black;
        }
    }
}
.carousel {
    .carousel-item img {
        width: 13%;
    }
    .carousel-control-next-icon:after {
        content: '';
    }
    
    .carousel-control-prev-icon:after {
        content: '';
    }
}

.timeline {
    opacity: 0;
    h1, h2 {
        font-family: $secondaryFont;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em; 
        margin: 0;
        font-family: $bodyFont;
        span {
            color: $primaryColor;
            font-weight: bold;
            font-size: 1.3em;
        }
    }
    .left {
        padding: 1em;
        width: 100%;
    }
    .right {
        width: 100%;
        padding: 1em;
    }
}

.certifications {
    opacity: 0;
    h1, h5 {
        font-family: $secondaryFont;
    }
    
}

.contact {
    opacity: 0;
    width: 60%;
    h1 {
        font-family: $secondaryFont;
    }
}