/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap");
/* Index page header and button styles */
.summary .cursor {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.1em;
  -webkit-animation: cursorBlink 0.6s infinite;
          animation: cursorBlink 0.6s infinite;
  border-right: 2px solid;
}

/* Typewriter animations */
@-webkit-keyframes cursorBlink {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes cursorBlink {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

/* About section styles */
.about h1 span {
  color: #952422;
}

.about svg {
  fill: #952422;
  background-size: 3em 3em;
}

.about i {
  font-size: 3em;
  color: #952422;
  vertical-align: middle;
}

.about .border-danger {
  border-color: #952422 !important;
}

.about .info-panel > h5 {
  color: #952422;
}

.about .info-panel p {
  color: black;
}

/* Carousel styles for images and remove controls */

.carousel .carousel-item img {
  width: 13%;
}

.carousel .carousel-control-next-icon:after {
  content: '';
}

.carousel .carousel-control-prev-icon:after {
  content: '';
}

/* Timeline styles */
.timeline {
  opacity: 0;
}

.timeline h1, .timeline h2 {
  font-family: "Source Sans Pro", sans-serif;
}

.timeline h2 {
  font-size: 1.2em;
}

.timeline h3 {
  font-size: 1em;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.timeline h3 span {
  color: #952422;
  font-weight: bold;
  font-size: 1.3em;
}

.timeline .left {
  padding: 1em;
  width: 100%;
}

.timeline .right {
  width: 100%;
  padding: 1em;
}

.certifications {
  opacity: 0;
}

.certifications h1, .certifications h5 {
  font-family: "Source Sans Pro", sans-serif;
}

/* Contact form styles */
.contact {
  opacity: 0;
  width: 60%;
}

.contact h1 {
  font-family: "Source Sans Pro", sans-serif;
}
