@import '../uc/var.scss';

.jumbotron {
    background-color: #9524221f;

    #slide2 {
        display: none;
    }

    h1 {
        font-size: 2em;
        font-family: $bodyFont;
    }

    .lead {
        font-size: 1em;
    }

    #score h1 {
        font-family: $specialFont;
        color: $primaryColor;
    }

    #rocket {
        transition: 6s cubic-bezier(.64, .29, 0, 1.02);
    }
}

.testimonial {
    min-height: 30vh;
    padding: 2em;

    h1 {
        font-family: $secondaryFont;
    }

    .carousel-item {
        img {
            border-radius: 20%;
            height: auto;
        }

        cite {
            font-weight: bold;
        }
    }
    .link {
        transition: 0.5s cubic-bezier(.61,.44,.31,1.12);
        font-size: 1.5em;
        padding: 0.3em;
        font-family: $specialFont;
        text-transform: uppercase;
        text-decoration: none;
        border: 3px solid $primaryColor;
        &:hover {
            background-color: black;
            border-color: black;
            span {
                color: white;
            }
        }
    }
}

.contact {
    min-height: 60vh;
    .formHeading {
        font-family: $specialFont;
    }
}