/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap");
/* HTML styles */
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

html::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

html::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 50px;
}

html::-webkit-scrollbar-thumb:active {
  background: #000000;
}

html::-webkit-scrollbar-track {
  background: #b9b9b970;
  border-radius: 50px;
}

/* Span that has red-text class to highlight important stuff */
.red-text {
  color: #952422 !important;
}

/* Heading, link, paragraph and label default color */
h1,
h2,
h3,
h4,
h5,
a,
p,
label {
  color: white;
}

/* White sections of pages to have the same color for text, background and same font family */
.white {
  background-color: #f4f4f4;
}

.white * {
  color: black;
}

.white h1 {
  font-family: "Raleway", sans-serif;
}

/* Main header that contains header text */
.main-header {
  font-family: "IBM Plex Mono", monospace;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

/* Default paragraph font family */
p {
  font-family: 'Raleway', sans-serif;
}

/* Body default background color */
body {
  background-color: #f4f4f4;
}

/* Nav items and navbar styles */
.logo {
  height: 10em;
}

.nav-item {
  padding: 0.5em 1em 0.5em 0;
  font-weight: 300;
  text-align: center;
  min-width: 100px;
}

.nav-item a {
  color: #FFF;
  font-size: 1.2em;
}

.fa-chevron-down {
  margin-left: 0.3em;
  font-size: 0.8em;
}

.dropdown-item {
  color: black !important;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-size: 0.9em;
  padding: 0.6em;
  text-align: center;
}

.dropdown-item:hover {
  opacity: 0.5;
  color: #952422;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
}

.dropdown {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

/* Footer styles */
footer {
  font-family: 'Raleway', sans-serif;
  background-color: black;
}

footer h4,
footer a {
  font-size: 1em;
}

footer h4:hover,
footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.63);
}

footer .btn,
footer #emailAddress {
  border-radius: 0;
  border: none;
}

footer .btn {
  background-color: #952422;
}

footer .btn:hover {
  background-color: #9e4948;
}

footer #emailAddress {
  background-color: rgba(255, 255, 255, 0.747);
  width: 100%;
}

footer #emailAddress:focus {
  background-color: #FFF;
}

footer ul li a {
  font-size: 0.9em;
}

footer .copyright {
  font-size: 0.6em;
}

.fa-bars {
  font-size: 1.75em;
  color: white;
}

/* Animations for header stuff */
@-webkit-keyframes rotateGradient {
  0% {
    background-position: 62% 0%;
  }
  50% {
    background-position: 40% 100%;
  }
  100% {
    background-position: 62% 0%;
  }
}

@keyframes rotateGradient {
  0% {
    background-position: 62% 0%;
  }
  50% {
    background-position: 40% 100%;
  }
  100% {
    background-position: 62% 0%;
  }
}

/* Carousel control colours */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after {
  font-family: FontAwesome;
  content: '\f054';
  font-size: 2em;
  color: #952422;
}

.carousel-control-prev-icon:after {
  font-family: FontAwesome;
  content: '\f053';
  font-size: 2em;
  color: #952422;
}

.carousel-item p {
  margin: auto;
}

/* Header section styles */
.summary {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#971d1b));
  background: linear-gradient(90deg, #000000, #971d1b);
  background-size: 300% 300%;
  -webkit-animation: rotateGradient 4s ease infinite;
          animation: rotateGradient 4s ease infinite;
}

/* Transition section styles */
[class*="transition"] {
  padding: 0;
  height: 20vh;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../assets/office.jpg);
}

[class*="transition"] h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 6vw;
  text-align: center;
  vertical-align: middle;
  line-height: 20vh;
}

/* Contact form styles */
.container-fluid.white {
  padding: 3em 0;
}

.container-fluid.white .contact {
  border-radius: 1em;
  background-color: #FFF;
}

.container-fluid.white .contact .form-group {
  margin-bottom: 3em;
}

.container-fluid.white .contact .form-group label {
  font-family: "IBM Plex Mono", monospace;
  color: #952422;
  text-transform: uppercase;
  font-weight: bold;
}

.container-fluid.white .contact .form-group .inputBox {
  margin-bottom: 2em;
}

.container-fluid.white .contact .form-group input, .container-fluid.white .contact .form-group select {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.container-fluid.white .contact .form-group input:focus, .container-fluid.white .contact .form-group select:focus {
  border-radius: 5px 5px 0 0;
  color: #495057;
  border-color: #952422;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(149, 36, 34, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(149, 36, 34, 0.25);
}
/*# sourceMappingURL=layout.css.map */