@import '../uc/var.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&family=Lato&display=swap');
/* Reset row margin to rid of ugly right margins */
.row {
    margin: 0;
}

/* Dashboard mini carousel styles */
.description {
    h1 {
        font-family: $bodyFont;
        span {
            color: $primaryColor;
        }
    }
    img {
        width: 100%;
        transition: opacity 0.5s ease-in;
    }
    p {
        min-height: 100%;
        transition: opacity 0.5s ease-in;
        font-size: 1.2em;
    }
    h1 {
        transition: opacity 0.5s ease-in;
    }
    .mini-carousel {
        min-height: 40vh;
        .info {
            min-height: 35vh;
            align-items: center;
        }
    }
    .switcher {
        button {
            outline: none;
            border: none;
            background-color: transparent;
            i {
                font-size: 2em;
                color: $primaryColor;
                vertical-align: middle;
            }
        }
        span {
            font-size: 2em;
        }
        margin: auto;
    }
}

/* Transition div background image */
.transition {
    background-image: url(../../assets/office.jpg);
}

/* Toggled between active and hidden in js and HTML. Hidden div class to make it so that the div is hidden */
.hidden {
    display: none;
}

/* General dashboard styles (not including colors) */
.dashboard {
    transition: all 0.3s ease-in;
    padding: 0;
    min-height: 100vh;
    .nav-item {
        border-radius: 1em;
        padding: 0.6em;
    }
    .nav-link {
        cursor: pointer;
    }
    #content {
        font-family: $bodyFont !important;
        img {
            border-radius: 50%;
        }
    }
}

/* Light theme styles */
.light {
    background-color: white;
    .nav-item {
        transition: all 0.3s ease-in;
        a {
            color: black;
        }
        &:hover {
            background-color: rgb(244, 244, 244);
        }
        .dropdown {
            color: black;
        }
    }
    #content {
        background-color: white;
        .container * {
            color: black;
        }
        .container-fluid {
            * {
                color: black;
            }
            label {
                color: white !important;
            }
        }
        #analytics {
            .analytic-cell {
                background-color: rgb(244, 244, 244);
            }
        }
    }
}

/* Dark theme styles */
.dark {
    background-color: black;
    .nav-item {
        transition: all 0.3s ease-in;
        a {
            color: white;
        }
        &:hover {
            background-color: rgb(51, 51, 51);
        }
        .dropdown-menu i {
                color: black !important;
        }
    }
    #content {
        background-color: black;
        .container * {
            color: white;
        }
        .container-fluid * {
            color: white;
        }
        .nav-link.content-box {
            color: black;
        }
        #analytics {
            .analytic-cell {
                background-color: rgb(51, 51, 51);
            }
        }
    }
}

/* Analytics panel styles */
#analytics {
    .analytic-cell {
        /* Margin, border radius and padding for each cell */
        padding: 1em;
        border-radius: 1em;
        margin-bottom: 1em;
    }
}

/* Card styles */
.card-container {
    max-width: 90%;
    $hundred: 100%;
}
.card {
    transition: 0.1s ease-in-out;
    border-radius: 2em;
    min-height: 60vh;
    &:hover {
        border: 2px solid $primaryColor;
        filter: drop-shadow(0 0 1rem rgba(220, 20, 60, 0.274));
        transform: scale(1.04);
    }
    h1 {
        color: $primaryColor;
        text-transform: uppercase;
    }
    .price {
        font-family: $secondaryFont;
        font-size: 3em;
        span {
            font-family: 'Lato', sans-serif;
        }
        .sign {
            font-size: 0.5em;
            opacity: 0.7;
        }
        .cents {
            font-size: 0.4em;
            opacity: 0.8;
        }
        .month {
            font-size: 0.2em;
        }
        .from {
            font-size: 0.3em;
        }
    }
    table {
        .fa-check {
            color: rgb(0, 128, 0);
        }
        .fa-times {
            color: rgb(204, 0, 0);
        }
    }
}

#dashboard-navbar {
    color: $primaryColor !important;

}