/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Source+Sans+Pro&family=Raleway&family=Lato&display=swap");
/* Reset row margin to rid of ugly right margins */
.row {
  margin: 0;
}

/* Dashboard mini carousel styles */
.description h1 {
  font-family: "Raleway", sans-serif;
}

.description h1 span {
  color: #952422;
}

.description img {
  width: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.description p {
  min-height: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  font-size: 1.2em;
}

.description h1 {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.description .mini-carousel {
  min-height: 40vh;
}

.description .mini-carousel .info {
  min-height: 35vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Mini-carousel control styles */
.description .switcher {
  margin: auto;
}

.description .switcher button {
  outline: none;
  border: none;
  background-color: transparent;
}

.description .switcher button i {
  font-size: 2em;
  color: #952422;
  vertical-align: middle;
}

.description .switcher span {
  font-size: 2em;
}

/* Transition div background image */
.transition {
  background-image: url(../../assets/office.jpg);
}

/* Toggled between active and hidden in js and HTML. Hidden div class to make it so that the div is hidden */
.hidden {
  display: none;
}

/* General dashboard styles (not including colors) */
.dashboard {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 0;
  min-height: 100vh;
}

.dashboard .nav-item {
  border-radius: 1em;
  padding: 0.6em;
}

.dashboard .nav-link {
  cursor: pointer;
}

.dashboard #content {
  font-family: "Raleway", sans-serif !important;
}

.dashboard #content img {
  border-radius: 50%;
}

/* Light theme styles */
.light {
  background-color: white;
}

.light .nav-item {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.light .nav-item a {
  color: black;
}

.light .nav-item:hover {
  background-color: #f4f4f4;
}

.light .nav-item .dropdown {
  color: black;
}

.light #content {
  background-color: white;
}

.light #content .container * {
  color: black;
}

.light #content .container-fluid * {
  color: black;
}

.light #content .container-fluid label {
  color: white !important;
}

.light #content #analytics .analytic-cell {
  background-color: #f4f4f4;
}

/* Dark theme styles */
.dark {
  background-color: black;
}

.dark .nav-item {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.dark .nav-item a {
  color: white;
}

.dark .nav-item:hover {
  background-color: #333333;
}

.dark .nav-item .dropdown-menu i {
  color: black !important;
}

.dark #content {
  background-color: black;
}

.dark #content .container * {
  color: white;
}

.dark #content .container-fluid * {
  color: white;
}

.dark #content .nav-link.content-box {
  color: black;
}

.dark #content #analytics .analytic-cell {
  background-color: #333333;
}

/* Analytics panel styles */
#analytics .analytic-cell {
  /* Margin, border radius and padding for each cell */
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

/* Card styles */
.card-container {
  max-width: 90%;
}

.card {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  border-radius: 2em;
  min-height: 60vh;
}

.card:hover {
  border: 2px solid #952422;
  -webkit-filter: drop-shadow(0 0 1rem rgba(220, 20, 60, 0.274));
          filter: drop-shadow(0 0 1rem rgba(220, 20, 60, 0.274));
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

/* Card styles */
.card h1 {
  color: #952422;
  text-transform: uppercase;
}

.card .price {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3em;
}

.card .price span {
  font-family: 'Lato', sans-serif;
}

.card .price .sign {
  font-size: 0.5em;
  opacity: 0.7;
}

.card .price .cents {
  font-size: 0.4em;
  opacity: 0.8;
}

.card .price .month {
  font-size: 0.2em;
}

.card .price .from {
  font-size: 0.3em;
}

.card table .fa-check {
  color: green;
}

.card table .fa-times {
  color: #cc0000;
}

#dashboard-navbar {
  color: #952422 !important;
}